<ul class="list-unstyled">
  
  <% tasks.each do |task| %>
    <li class="media mb-3">
      <img class="mr-2 rounded" src="<%= gravatar_url(task.user, { size: 50 }) %>" alt="">
      <div class="media-body">
        <div>
          <%= link_to task.user.name, user_path(task.user) %> <span class="text-muted">posted at <%= task.created_at %></span>
        </div>
        <table class="table container" style="table-layout:fixed;width:100%;">
          <tr class="row">
            <td class="col-2 text-left"><%= task.status %></td>
            <td class="col-8 text-left" style="word-wrap:break-word;"><%= link_to task.content, task %></td>
          </tr>
        </table>
      </div>
    </li>
  <% end %>
  <%= paginate tasks %>
</ul>